@model IEnumerable<EmployeeCompetencyTrackingSystem.Models.EmployeeCompetence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeIName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetencyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetencyRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeIName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetencyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetencyRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details by employee Id", "DetailsByEid", new {  id=item.EmployeeId }) |
            @Html.ActionLink("Details by competency Id", "DetailsByCid", new {  id=item.CompetencyId }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
